---
- name: Pull RDS source from GitHub
  git: repo=https://github.com/wuvt/PiFmRds.git update=yes
        dest=/opt/PiFmRds

- name: Install PiFmRds deps
  apt: name={{ item }} state=latest
  with_items:
  - build-essential
  - libsndfile-dev
  - ffmpeg
  - alsa-utils
  tags:
  - packages

- name: Build PiFmRds
  script: build.sh

- name: Configure sound card
  command: /opt/PiFmRds/hw-setup.sh

- name: Install rds_wuvt.service
  command: cp /opt/PiFmRds/rds_wuvt.service /etc/systemd/system/
- name: Install rds_play.service
  command: cp /opt/PiFmRds/rds_play.service /etc/systemd/system/
- name: Reload unit files
  command: systemctl daemon-reload

- name: Restart rds_wuvt.service
  service: name=rds_wuvt state=restarted enabled=yes
  tags:
  - services
- name: Restart rds_play.service
  service: name=rds_play state=restarted enabled=yes
  tags:
  - services
