[Unit]
Description=Johnny Six automation
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/liquidsoap /opt/johnny-six/wuvt.liq
User=liquidsoap
Restart=on-abort

[Install]
WantedBy=multi-user.target
