[Unit]
Description=Johnny Six automation
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/docker run --rm --device=/dev/snd:/dev/snd --env-file=/etc/default/johnny-six -v /etc/localtime:/etc/localtime quay.io/wuvt/johnny-six:latest
Restart=on-failure

[Install]
WantedBy=multi-user.target
