# sample DarkIce configuration file, edit for your needs before using
# see the darkice.cfg man page for details

# this section describes general aspects of the live streaming session
[general]
duration        = 0         # duration of encoding, in seconds. 0 means forever
bufferSecs      = 5         # size of internal slip buffer, in seconds
reconnect       = yes       # reconnect to the server(s) if disconnected

# this section describes the audio input that will be streamed
[input]
device          = default   # Default device for the audio input
sampleRate      = 44100     # sample rate in Hz. try 11025, 22050 or 44100
bitsPerSample   = 16        # bits per sample. try 16
channel         = 2         # channels. 1 = mono, 2 = stereo

# this section describes a streaming connection to an IceCast2 server
# there may be up to 8 of these sections, named [icecast2-0] ... [icecast2-7]
# these can be mixed with [icecast-x] and [shoutcast-x] sections
[icecast2-0]
bitrateMode     = cbr       # bit rate: abr (average), cbr (constant), vbr (variable)
#quality        = 0.7       # quality for vbr: 1.0 the highest
format          = vorbis       # format of the stream: mp3, vorbis (ogg), aac, aacp
bitrate         = 64        # bitrate of the stream sent to the server (<= 64 for aacp)
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = {{ icecast_pw }}	# source password to the IceCast2 server
mountPoint      = wuvt-lb.ogg      	# mount point of this stream on the IceCast2 server
name            = WUVT-FM 90.7 Blacksburg, VA [Live Stream]
                            # name of the stream
description     = The greatest radio station in the world
                            # description of the stream
url             = http://wuvt.vt.edu
                            # URL related to the stream
genre           = College radio		# genre of the stream
public          = yes       # advertise this stream?



[icecast2-1]
bitrateMode     = cbr       # bit rate: abr (average), cbr (constant), vbr (variable)
#quality        = 0.7       # quality for vbr: 1.0 the highest
format          = vorbis       # format of the stream: mp3, vorbis (ogg), aac, aacp
bitrate         = 128       # bitrate of the stream sent to the server (<= 64 for aacp)
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = {{ icecast_pw }}	# source password to the IceCast2 server
mountPoint      = wuvt.ogg      	# mount point of this stream on the IceCast2 server
name            = WUVT-FM 90.7 Blacksburg, VA [Live Stream]
                            # name of the stream
description     = The greatest radio station in the world
                            # description of the stream
url             = http://wuvt.vt.edu
                            # URL related to the stream
genre           = College radio		# genre of the stream
public          = yes       # advertise this stream?


[icecast2-2]
bitrateMode     = cbr       # bit rate: abr (average), cbr (constant), vbr (variable)
#quality        = 0.7       # quality for vbr: 1.0 the highest
format          = vorbis       # format of the stream: mp3, vorbis (ogg), aac, aacp
bitrate         = 320       # bitrate of the stream sent to the server (<= 64 for aacp)
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = {{ icecast_pw }}	# source password to the IceCast2 server
mountPoint      = wuvt-hq.ogg      	# mount point of this stream on the IceCast2 server
name            = WUVT-FM 90.7 Blacksburg, VA [Live Stream]
                            # name of the stream
description     = The greatest radio station in the world
                            # description of the stream
url             = http://wuvt.vt.edu
                            # URL related to the stream
genre           = College radio		# genre of the stream
public          = yes       # advertise this stream?





[icecast2-3]
bitrateMode     = cbr       # bit rate: abr (average), cbr (constant), vbr (variable)
#quality        = 0.7       # quality for vbr: 1.0 the highest
format          = aac       # format of the stream: mp3, vorbis (ogg), aac, aacp
bitrate         = 32        # bitrate of the stream sent to the server (<= 64 for aacp)
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = {{ icecast_pw }}	# source password to the IceCast2 server
mountPoint      = wuvt-lb.aac      	# mount point of this stream on the IceCast2 server
name            = WUVT-FM 90.7 Blacksburg, VA [Live Stream]
                            # name of the stream
description     = The greatest radio station in the world
                            # description of the stream
url             = http://wuvt.vt.edu
                            # URL related to the stream
genre           = College radio		# genre of the stream
public          = yes       # advertise this stream?



[icecast2-4]
bitrateMode     = cbr       # bit rate: abr (average), cbr (constant), vbr (variable)
#quality        = 0.7       # quality for vbr: 1.0 the highest
format          = aac       # format of the stream: mp3, vorbis (ogg), aac, aacp
bitrate         = 128       # bitrate of the stream sent to the server (<= 64 for aacp)
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = {{ icecast_pw }}	# source password to the IceCast2 server
mountPoint      = wuvt.aac      	# mount point of this stream on the IceCast2 server
name            = WUVT-FM 90.7 Blacksburg, VA [Live Stream]
                            # name of the stream
description     = The greatest radio station in the world
                            # description of the stream
url             = http://wuvt.vt.edu
                            # URL related to the stream
genre           = College radio		# genre of the stream
public          = yes       # advertise this stream?


[icecast2-5]
bitrateMode     = cbr       # bit rate: abr (average), cbr (constant), vbr (variable)
#quality        = 0.7       # quality for vbr: 1.0 the highest
format          = aac       # format of the stream: mp3, vorbis (ogg), aac, aacp
bitrate         = 320       # bitrate of the stream sent to the server (<= 64 for aacp)
server          = localhost
                            # host name of the server
port            = 8000      # port of the IceCast2 server, usually 8000
password        = {{ icecast_pw }}	# source password to the IceCast2 server
mountPoint      = wuvt-hq.aac      	# mount point of this stream on the IceCast2 server
name            = WUVT-FM 90.7 Blacksburg, VA [Live Stream]
                            # name of the stream
description     = The greatest radio station in the world
                            # description of the stream
url             = http://wuvt.vt.edu
                            # URL related to the stream
genre           = College radio		# genre of the stream
public          = yes       # advertise this stream?
