<icecast>
    <limits>
        <clients>800</clients>
        <sources>16</sources>
        <threadpool>10</threadpool>
        <queue-size>524288</queue-size>
        <client-timeout>30</client-timeout>
        <header-timeout>15</header-timeout>
        <source-timeout>10</source-timeout>
        <burst-on-connect>1</burst-on-connect>
        <burst-size>65535</burst-size>
    </limits>

    <authentication>
        <!-- Sources log in with username 'source' -->
        <source-password>{{ stream_password }}</source-password>
        <!-- Relays log in username 'relay' -->
        <relay-password>{{ stream_password }}</relay-password>

        <admin-user>ladmin</admin-user>
        <admin-password>{{ ladmin_password }}</admin-password>
    </authentication>

    <hostname>{{ stream_host }}</hostname>

    <listen-socket>
        <port>80</port>
        <bind-address>::</bind-address>
    </listen-socket>
    <listen-socket>
        <port>443</port>
        <bind-address>::</bind-address>
        <ssl>1</ssl>
    </listen-socket>
    <listen-socket>
        <port>8000</port>
        <bind-address>::</bind-address>
    </listen-socket>
    <listen-socket>
        <port>8443</port>
        <bind-address>::</bind-address>
        <ssl>1</ssl>
    </listen-socket>

{% if stream_host == 'stream.wuvt.vt.edu' %}
    <relay>
        <server>am.stream.wuvt.vt.edu</server>
        <port>80</port>
        <mount>/wuvt.ogg</mount>
        <local-mount>/wuvt-am.ogg</local-mount>
        <on-demand>0</on-demand>
    </relay>

    <relay>
        <server>am.stream.wuvt.vt.edu</server>
        <port>80</port>
        <mount>/wuvt-hq.ogg</mount>
        <local-mount>/wuvt-am-hq.ogg</local-mount>
        <on-demand>0</on-demand>
    </relay>

    <relay>
        <server>am.stream.wuvt.vt.edu</server>
        <port>80</port>
        <mount>/wuvt-lb.ogg</mount>
        <local-mount>/wuvt-am-lb.ogg</local-mount>
        <on-demand>0</on-demand>
    </relay>

    <relay>
        <server>am.stream.wuvt.vt.edu</server>
        <port>80</port>
        <mount>/wuvt.aac</mount>
        <local-mount>/wuvt-am.aac</local-mount>
        <on-demand>0</on-demand>
    </relay>

    <relay>
        <server>am.stream.wuvt.vt.edu</server>
        <port>80</port>
        <mount>/wuvt-hq.aac</mount>
        <local-mount>/wuvt-am-hq.aac</local-mount>
        <on-demand>0</on-demand>
    </relay>

    <relay>
        <server>am.stream.wuvt.vt.edu</server>
        <port>80</port>
        <mount>/wuvt-lb.aac</mount>
        <local-mount>/wuvt-am-lb.aac</local-mount>
        <on-demand>0</on-demand>
    </relay>

{% endif %}
    <fileserve>1</fileserve>

    <paths>
        <!-- basedir is only used if chroot is enabled -->
        <basedir>/usr/share/icecast2</basedir>

        <!-- Note that if <chroot> is turned on below, these paths must both
             be relative to the new root, not the original root -->
        <logdir>/var/log/icecast2</logdir>
        <webroot>/usr/share/icecast2/web</webroot>
        <adminroot>/usr/share/icecast2/admin</adminroot>
        <pidfile>/var/run/icecast2/icecast.pid</pidfile>

        <ssl-certificate>/etc/icecast2/bundle.pem</ssl-certificate>

        <alias source="/" dest="/status.xsl"/>

        <!-- TuneIn fixes: where did they get these URLs from? -->
        <alias source="/wuvt-hq" dest="/wuvt-hq.ogg"/>
        <alias source="/wuvt" dest="/wuvt.ogg"/>
        <alias source="/wuvt-lb" dest="/wuvt-lb.ogg"/>
    </paths>

    <logging>
        <accesslog>access.log</accesslog>
        <errorlog>error.log</errorlog>
        <loglevel>3</loglevel> <!-- 4 Debug, 3 Info, 2 Warn, 1 Error -->
        <logsize>10000</logsize> <!-- Max size of a logfile -->
        <!-- If logarchive is enabled (1), then when logsize is reached
             the logfile will be moved to [error|access|playlist].log.DATESTAMP,
             otherwise it will be moved to [error|access|playlist].log.old.
             Default is non-archive mode (i.e. overwrite)
        -->
        <!-- <logarchive>1</logarchive> -->
    </logging>

    <security>
        <chroot>0</chroot>
        <changeowner>
            <user>icecast2</user>
            <group>icecast</group>
        </changeowner>
    </security>
</icecast>


