[Unit]
Description=PGM Check

[Service]
Type=simple
ExecStart=/usr/bin/liquidsoap /opt/pgmcheck/pgmcheck.liq
User=liquidsoap
Restart=on-abort

[Install]
WantedBy=multi-user.target
