name: Root logins from outside the WUVT network
type: frequency
index: syslog-*

num_events: 1
timeframe:
  minutes: 10

filter:
- query:
    query_string:
      query: "tags:login AND NOT tags:pam AND user.raw:root AND NOT clientip:192.168.0.*"

alert:
- "email"
- "slack"
- "command"
email:
- "wuvt.it@gmail.com"
- "root@wuvt.vt.edu"
- "wuvt@mutantmonkey.in"
slack_webhook_url: "{{ slack_webhook_url }}"
command:
- "/usr/local/bin/ircalert"
- "-nick"
- "wuvt-ircalert"
- "-server"
- "irc.oftc.net:6697"
- "-ssl"
- "-channel"
- "#wuvt"
- "-message"
- "Root logins from outside the WUVT network"
