#!/bin/bash
export KRB5CCNAME=/tmp/krb5_100_pgmcheck
kinit johnny-six@WUVT.VT.EDU -k -t /etc/johnny-six.keytab

archive_location="/tank/archive/pgmcheck/{{ pgmcheck_studio }}"

for file in $(ls /var/pgmcheck/staging/);
do
	year=$(cut -f1 -d-  <<< ${file})
	month=$(cut -f2 -d- <<< ${file})
	day=$(cut -f3 -d-   <<< ${file})
	ssh johnny-six@alexandria.wuvt.vt.edu mkdir -p ${archive_location}/${year}/${month}/${day}
	scp /var/pgmcheck/staging/${file} johnny-six@alexandria.wuvt.vt.edu:${archive_location}/${year}/${month}/${day} && rm /var/pgmcheck/staging/${file}
done
