ALSA_INPUT={{ pgmcheck_alsa_input }}
OUTPUT_PATH={{ pgmcheck_base_path }}
REMOTE_ARCHIVE_URL={{ pgmcheck_remote_archive_url }}
REMOTE_ARCHIVE_PATH={{ pgmcheck_remote_archive_path }}
REMOTE_ARCHIVE_USER={{ pgmcheck_remote_archive_user }}
