- name: Install audio streaming packages and libraries
  yum: name={{ item }} state=latest
  with_items:
  - icecast
  - alsa-utils
  - alsa-lib
  - alsa-lib-devel
  - alsa-utils
  - libvorbis
  - libvorbis-devel
  - libvorbis-devel-docs
  - vorbis-tools
  - libogg
  - libogg-devel
  - libogg-devel-docs
  - liboggz
  - liboggz-devel
  - liboggz-doc
  - opus-devel
  - opus
  - libmp3lame0
  tags:
  - packages
  - stream

