[Service]
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ public_ipv4 }}:2379"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ public_ipv4 }}:2380"
Environment="ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379"
Environment="ETCD_LISTEN_PEER_URLS=https://0.0.0.0:2380"
Environment="ETCD_DISCOVERY_SRV=etcd.wuvt.vt.edu"
Environment="ETCD_INITIAL_CLUSTER_STATE=existing"
Environment="ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-1"
Environment="ETCD_NAME={{ hostname }}"
Environment="ETCD_SSL_DIR=/etc/ssl/etcd"
Environment="ETCD_CERT_FILE=/etc/ssl/certs/{{ hostname }}.pem"
Environment="ETCD_KEY_FILE=/etc/ssl/certs/{{ hostname }}-key.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/ssl/certs/{{ hostname }}.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/ssl/certs/{{ hostname }}-key.pem"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/certs/ca.pem"
Environment="ETCD_TRUSTED_CA_FILE=/etc/ssl/certs/ca.pem"
