---
- name: bootstrap python, just in case.
  raw: apt-get install python

- include: nfs.yml

- name: Configure system hostname
  hostname:
    name: "{{ hostname }}"
  tags:
  - common

- include: packages.yml
  when: ansible_distribution_version == "14.04"

- include: packagesnew.yml
  when: ansible_distribution_version == "16.04"
