---
- name: Install sources.list
  copy: src=sources16.list dest=/etc/apt/sources.list mode=0664 owner=root group=root
  when: ansible_distribution_version == "16.04"
  tags:
  - apt
    #  - dropbox

- name: Install common packages
  apt: name={{ item }} state=latest
  with_items:
  - git
  - htop
  - vim
  - man
  - nmap
  - rsync
  - screen
  - tmux
  - wget
  - ncdu
  - zsh
  - ntp
  - ranger
  - aptitude
  - python-apt
  - pwgen
  - mutt
  tags:
  - packages

- name: Install packages for development
  apt: name={{ item }} state=latest
  with_items:
  - gcc
  - ruby
  - ansible
  - sshpass
  - golang-go
  tags:
  - packages

# Apparently update_cache breaks if you're sudoing and root can't
# CD to the user's home directory (as is the case with our NFS setup)
# -- mhazinsk 2015-06-08
- name: Apt update
  apt: update_cache=yes upgrade=yes
  tags:
  - apt
  - packages


