[Service]
{% if etcd_cluster_member -%}
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ coreos_guest_public_ipv4 }}:2379"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ coreos_guest_public_ipv4 }}:2380"
Environment="ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379,http://127.0.0.1:4001"
Environment="ETCD_LISTEN_PEER_URLS=https://0.0.0.0:2380"
{% else -%}
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://localhost:2379"
Environment="ETCD_PROXY=on"
{% endif -%}
Environment="ETCD_CERT_FILE=/etc/ssl/etcd/naro1.pem"
Environment="ETCD_DISCOVERY_SRV=wuvt.vt.edu"
Environment="ETCD_INITIAL_CLUSTER_STATE=existing"
Environment="ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-1"
Environment="ETCD_KEY_FILE=/etc/ssl/etcd/naro1-key.pem"
Environment="ETCD_NAME=naro1"
Environment="ETCD_PEER_CERT_FILE=/etc/ssl/etcd/naro1.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/ssl/etcd/naro1-key.pem"
Environment="ETCD_PEER_CLIENT_CERT_AUTH=true"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/etcd/ca.pem"
Environment="ETCD_TRUSTED_CA_FILE=/etc/ssl/etcd/ca.pem"
