#cloud-config

ssh_authorized_keys:
{% for key in ssh_authorized_keys -%}
- {{ key }}
{% endfor %}

write_files:
- path: /etc/hostname
  permissions: 644
  owner: root
  content: |
    {{ hostname }}
- path: /etc/coreos/update.conf
  permissions: 644
  owner: root
  content: |
    GROUP={{ update_channel }}
    REBOOT_STRATEGY={{ update_reboot_strategy }}
- path: /etc/sudoers.d/01_sudoers
  permissions: 644
  owner: root
  content: |
    {{ lookup('file', 'sudoers.d/01_sudoers') | indent(4, false) }}
- path: /etc/ssh/sshd_config
  permissions: 644
  owner: root
  content: |
    {{ lookup('file', 'sshd_config') | indent(4, false) }}
- path: /etc/ssl/etcd/ca.pem
  permissions: 644
  owner: etcd:etcd
  content: |
    {{ etcd_ca | indent(4, false) }}
- path: /etc/ssl/etcd/{{ hostname }}.pem
  permissions: 644
  owner: etcd:etcd
  content: |
    {{ etcd_cert | indent(4, false) }}
- path: /etc/ssl/etcd/{{ hostname }}-key.pem
  permissions: 600
  owner: etcd:etcd
  content: |
    {{ etcd_key | indent(4, false) }}
- path: /etc/ssl/logstash/logstash.pem
  permissions: 644
  owner: root
  content: |
    {{ lookup('file', 'logstash.pem') | indent(4, false) }}
- path: /etc/sssd/sssd.conf
  permissions: 600
  owner: root
  content: |
    {{ lookup('file', 'sssd/sssd.conf') | indent(4, false) }}
- path: /etc/ssl/sssd/ca.pem
  permissions: 644
  owner: root
  content: |
    {{ lookup('file', 'sssd/ca.pem') | indent(4, false) }}
{% for f in ignition_extra_files -%}
- path: {{ f.path }}
  permissions: {{ "%o" | format(f.mode | default(420)) }}
  {% if 'user' in f -%}
  owner: {{ f.user }}{% if 'group' in f %}:{{ f.group }}{% endif %}
  {% endif -%}
  content: |
    {{ f.contents.source | replace('data:,', '', 1) | replace('\\n', '\n') | indent(4, false) }}
{% endfor %}

coreos:
  units:
  - name: locksmithd.service
    enable: true
    command: start
{% if locksmith_window_start != "" and locksmith_window_length != "" -%}
    drop-ins:
    - name: 20-reboot-window.conf
      content: |
        [Service]
        Environment="REBOOT_WINDOW_START={{ locksmith_window_start }}"
        Environment="REBOOT_WINDOW_LENGTH={{ locksmith_window_length }}"
{% endif %}
  - name: rpc-statd.service
    enable: true
    command: start
  - name: ship-journal.service
    enable: true
    command: start
    content: |
      [Unit]
      Description=Ship journal to sampoong

      [Service]
      TimeoutStartSec=0
      ExecStart=/bin/sh -c "journalctl -o json -f | ncat --ssl --ssl-trustfile /etc/ssl/logstash/logstash.pem sampoong.wuvt.vt.edu 5044"
      Restart=always
      RestartSec=5

      [Install]
      WantedBy=multi-user.target
  - name: sssd.service
    enable: true
    command: start
{% for unit in ignition_extra_services %}
  - name: {{ unit.name }}
{% if 'enable' in unit and unit.enable %}
    enable: true
    command: start
{% endif %}
{% if 'contents' in unit %}
    content: |
      {{ unit.contents | replace('\\n', '\n') | indent(6, false) }}
{% endif %}
{% if 'dropins' in unit and unit.dropins | length > 0 %}
    drop-ins:
{% for dropin in unit.dropins %}
    - name: {{ dropin.name }}
      content: |
        {{ dropin.contents | replace('\\n', '\n') | indent(8, false) }}
{% endfor %}
{% endif %}
{% endfor %}
