{
    "ignition": { "version": "2.0.0" },
    "storage": {
        "files": [
            {
                "filesystem": "root",
                "path": "/etc/hostname",
                "mode": 420,
                "contents": {
                    "source": "data:,{{ hostname }}"
                }
            },
            {
                "filesystem": "root",
                "path": "/etc/coreos/update.conf",
                "mode": 420,
                "contents": {
                    "source": "data:,GROUP={{ update_channel }}\nREBOOT_STRATEGY={{ update_reboot_strategy }}"
                }
            },
            {
                "filesystem": "root",
                "path": "/etc/sudoers.d/01_sudoers",
                "mode": 420,
                "contents": {
                    "source": "data:,{{ lookup('file', 'sudoers.d/01_sudoers') | replace('\n', '\\n') }}"
                }
            },
            {
                "filesystem": "root",
                "path": "/etc/ssh/sshd_config",
                "mode": 420,
                "contents": {
                    "source": "data:,{{ lookup('file', 'sshd_config') | replace('\n', '\\n') }}"
                }
            },
            {
                "filesystem": "root",
                "path": "/etc/ssl/logstash/logstash.pem",
                "mode": 420,
                "contents": {
                    "source": "data:,{{ lookup('file', 'logstash.pem') | replace('\n', '\\n') }}"
                }
            },
            {
                "filesystem": "root",
                "path": "/etc/sssd/sssd.conf",
                "mode": 384,
                "contents": {
                    "source": "data:,{{ lookup('file', 'sssd/sssd.conf') | replace('\n', '\\n') }}"
                }
            },
            {
                "filesystem": "root",
                "path": "/etc/ssl/sssd/ca.pem",
                "mode": 420,
                "contents": {
                    "source": "data:,{{ lookup('file', 'sssd/ca.pem') | replace('\n', '\\n') }}"
                }
            }{% if ignition_extra_files | length > 0 %},
            {{ ignition_extra_files | map('to_json') | join(',') }}{% endif %}

        ]
    },
    "systemd": {
        "units": [
            {
                "name": "locksmithd.service",
                "enable": true{% if locksmith_window_start != "" and locksmith_window_length != "" %},
                "dropins": [
                    {
                        "name": "20-reboot-window.conf",
                        "contents": "[Service]\nEnvironment=\"REBOOT_WINDOW_START={{ locksmith_window_start }}\"\nEnvironment=\"REBOOT_WINDOW_LENGTH={{ locksmith_window_length }}\""
                    }
                ]{% endif %}
            },
            {
                "name": "rpc-statd.service",
                "enable": true
            },
            {
                "name": "ship-journal.service",
                "enable": true,
                "contents": "[Unit]\nDescription=Ship journal to sampoong\n\n[Service]\nTimeoutStartSec=0\nExecStart=/bin/sh -c \"journalctl -o json -f | ncat --ssl --ssl-trustfile /etc/ssl/logstash/logstash.pem sampoong.wuvt.vt.edu 5044\"\nRestart=always\nRestartSec=5\n\n[Install]\nWantedBy=multi-user.target"
            },
            {
                "name": "sssd.service",
                "enable": true
            }{% if ignition_extra_services | length > 0 %},
            {{ ignition_extra_services | map('to_json') | join(',') }}{% endif %}

        ]
    },
    "passwd": {
        "users": [
            {
                "name": "core",
                "sshAuthorizedKeys": {{ ssh_authorized_keys | to_json }}
            }
        ]
    }
}
