[Unit]
Description=etcd
After=network-online.target
Wants=network-online.target

[Service]
User=etcd
Type=notify
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_NAME=%m
#Environment="ETCD_NAME={{ ansible_hostname }}"
Environment="ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}"
Environment="ETCD_ADVERTISE_CLIENT_URLS=http://localhost:2379"
Environment="ETCD_DISCOVERY_SRV={{ etcd_discovery_srv }}"
Environment="ETCD_PROXY=on"
Environment="ETCD_CERT_FILE=/etc/ssl/etcd/{{ ansible_hostname }}.pem"
Environment="ETCD_KEY_FILE=/etc/ssl/etcd/{{ ansible_hostname }}-key.pem"
Environment="ETCD_TRUSTED_CA_FILE=/etc/ssl/etcd/ca.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/ssl/etcd/{{ ansible_hostname }}.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/ssl/etcd/{{ ansible_hostname }}-key.pem"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/etcd/ca.pem"
ExecStart=/usr/local/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
