[Unit]
Description=CFSSL
Documentation=https://github.com/cloudflare/cfssl
Wants=network.target

[Service]
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0

ExecStartPre=/usr/bin/mkdir --parents /var/lib/cfssl
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/cfssl/cfssl-rkt.uuid
ExecStart=/usr/bin/rkt run \
          --uuid-file-save=/var/lib/cfssl/cfssl-rkt.uuid \
          --trust-keys-from-https \
          --volume data-dir,kind=host,source=/etc/cfssl,readOnly=true \
          --volume etc-hosts,kind=host,source=/etc/hosts,readOnly=true \
          --volume etc-resolv,kind=host,source=/etc/resolv.conf,readOnly=true \
          --mount volume=data-dir,target=/etc/cfssl \
          --mount volume=etc-hosts,target=/etc/hosts \
          --mount volume=etc-resolv,target=/etc/resolv.conf \
          --inherit-env \
          --stage1-from-dir=stage1-fly.aci \
          quay.io/wuvt/docker-cfssl:latest \
          --user=999 -- /usr/bin/cfssl serve \
            -address 0.0.0.0 \
            -ca /etc/cfssl/ca.pem -ca-key /etc/cfssl/ca-key.pem \
            -tls-cert /etc/cfssl/cfssl.pem -tls-key /etc/cfssl/cfssl-key.pem \
            -config /etc/cfssl/server_config.json
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/cfssl/cfssl-rkt.uuid

[Install]
WantedBy=multi-user.target
