- name: Install postgres
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - postgresql
    - postgresql-client
    - python3-psycopg2
  tags: 
    - postgres

- name: Create wuvtam user
  postgresql_user:
    state: present
    name: "wuvtam"
    password: "{{ pg_wuvtam_password }}"
  become: yes
  become_user: postgres
  tags: 
    - postgres

- name: Create trackman_am user
  postgresql_user:
    state: present
    name: "trackman_am"
    password: "{{ pg_trackman_am_password }}"
  become: yes
  become_user: postgres
  tags: 
    - postgres
    
- name: Create wuvt user
  postgresql_user:
    state: present
    name: "wuvt"
    password: "{{ pg_wuvt_password }}"
  become: yes
  become_user: postgres
  tags: 
    - postgres
    
- name: Create trackman_fm user
  postgresql_user:
    state: present
    name: "trackman_fm"
    password: "{{ pg_trackman_fm_password }}"
  become: yes
  become_user: postgres
  tags: 
    - postgres

- name: Create pload user
  postgresql_user:
    state: present
    name: "pload"
    password: "{{ pg_pload_password }}"
  become: yes
  become_user: postgres
  tags: 
    - postgres

- name: Create rolled user
  postgresql_user:
    state: present
    name: "rolled"
    password: "{{ pg_rolled_password }}"
  become: yes
  become_user: postgres
  tags: 
    - postgres

- name: "Create dbs"
  postgresql_db:
    state: present
    name: "{{ item }}"
  become: yes
  become_user: postgres
  with_items:
    - wuvtam
    - wuvt
    - trackman_am
    - trackman_fm
    - pload
    - rolled
  tags: 
    - postgres

- name: "Grant user access"
  postgresql_privs:
    type: database
    database: "{{ item }}"
    roles: "{{ item }}"
    grant_option: no
    privs: all
  become: yes
  become_user: postgres
  with_items:
    - wuvtam
    - wuvt
    - trackman_am
    - trackman_fm
    - pload
    - rolled
  tags: 
    - postgres

- name: Listen on non-localhost
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "listen_addresses = '*'"
    regexp: '^#?listen_addresses'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump connection limit
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_connections = 1337"
    regexp: '^max_connections'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump shared_buffer
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "shared_buffers = 16GB"
    regexp: '^shared_buffers'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump effective_cache_size
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "effective_cache_size = 48GB"
    regexp: '^#?effective_cache_size'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump maintenance_work_mem
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "maintenance_work_mem = 2GB"
    regexp: '^#?maintenance_work_mem'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump work_mem
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "work_mem = 32MB"
    regexp: '^#?work_mem'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump max_wal_size
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_wal_size = 8GB"
    regexp: '^#?max_wal_size'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump min_wal_size
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "min_wal_size = 2GB"
    regexp: '^#?min_wal_size'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump max_worker_processes
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_worker_processes = 30"
    regexp: '^#?max_worker_processes'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump max_parallel_workers
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_parallel_workers = 30"
    regexp: '^#?max_parallel_workers'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump max_parallel_workers_per_gather
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_parallel_workers_per_gather = 8"
    regexp: '^#?max_parallel_workers_per_gather'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump max_parallel_maintenance_workers
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_parallel_maintenance_workers = 6"
    regexp: '^#?max_parallel_maintenance_workers'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump effective_io_concurrency
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "effective_io_concurrency = 100"
    regexp: '^#?effective_io_concurrency'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Bump connection limit
  lineinfile:
    dest: /etc/postgresql/16/main/postgresql.conf
    line: "max_connections = 500"
    regexp: '^max_connections'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config

- name: Allow login from local range
  lineinfile:
    dest: /etc/postgresql/16/main/pg_hba.conf
    line: "host all all 10.23.0.0/16 md5"
    regexp: '^host all all 10\.23\.0\.0/16 md5'
    state: present
  notify: Restart postgres
  tags: 
    - postgres
    - pg-config
