ALSA_INPUT={{ stream_generator_alsa_input }}

STREAM_HOST={{ stream_host }}
STREAM_PORT={{ stream_port }}
STREAM_PASSWORD={{ stream_password }}

META_NAME='{{ stream_meta_name }}'
META_DESCRIPTION='{{ stream_meta_description }}'
META_GENRE='{{ stream_meta_genre }}'
META_URL={{ stream_meta_url }}
MOUNT_PREFIX={{ stream_mount_prefix }}
